---
layout: default
---

<div class="content">

<h1 class="title-banner">fyhuang</h1>
<p class="subtitle-banner">Software Engineer. Currently residing in SF Bay Area.</p>

<div class="links-bar">
    <a href="{{ site.latest_resume_url | relative_url }}">Resume</a>
    <a href="https://github.com/fyhuang">GitHub</a>
    <a href="https://linkedin.com/in/yifenghuang/">LinkedIn</a>
</div>

<h1>Portfolio & Demos</h1>

{% for p in site.projects reversed %}

<h2><a href="{{ p.custom_url | default: p.url }}">{{ p.title }}</a></h2>
{{ p.excerpt }}

{% endfor %}

<h1>Experience</h1>

{% capture experience_md %}{% include experience.md %}{% endcapture %}
{{ experience_md | markdownify }}

<p>See more in my <a href="{{ site.latest_resume_url | relative_url }}">full resume</a>.</p>

</div>