---
---

@import "github";

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 22px;

    padding-bottom: 4em;
}

.content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.links-bar {
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em;

    a {
        text-decoration: none;
        font-weight: 500;

        padding: 6px 10px;
        margin-right: 0.8em;
        background-color: #8ac;

        box-shadow: 6px 6px 0px 0px #468;

        color: white;
        &:hover { color: white; background-color: #6a9; }
        &:visited { color: white; }
    }
}

@mixin headers {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 300;
}

h1 {
    @include headers;
    font-size: 36px;
}

h1.title-banner {
    font-size: 64px;
}

h1.project-title {
    font-size: 48px;
}

h2 {
    font-family: "Roboto", sans-serif;

    letter-spacing: 0.2ex;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #555;

    a {
        color: #468;
        text-decoration: none;

        &:hover {
            color: #68a;
            text-decoration: underline;
        }
    }
}

p {
    text-align: justify;
}

pre.highlight {
    background-color: #eee;
    padding: 1.5em;
    overflow: auto;
}